%section.home-hero-sction
	.container.padding-top.double-padding-bottom
		.row
			.col-lg-12.text-center.menu-change
				.margin-bottom
					%h1
						GROW YOUR SHOPIFY BUSINESS
					%h2.margin-bottom
						Increase Sales by running a fully automated incentive program
					%a.btn.btn-default.btn-lg{:href=>"https://app.getcoopt.com/login"}
						Get started with coopt
				.text-center
					%a.play-video-button.fb-video{:href=>"http://www.youtube.com/embed/VUqqStm38sY?rel=0&showinfo=0&autohide=1&enablejsapi=1&version=3&playerapiid=youtube"}
						%i.md.md-play-arrow

%section#section-link-features
	.container
		.row
			.col-md-2
			.col-md-8.text-center
				%h3
					REACH MORE CUSTOMERS FOR A FRACTION OF THE COST OF TRADITIONAL ADVERTISING. 
				.divider-default
				.text-center.half-margin-top
					%img.img-responsive.margin-auto{:src=>"images/macbook_1.png"}
			.col-md-2
%section
	.container
		.row
			.col-sm-4.text-center-sm
				.row
					.col-md-2
						%i.md.md-tag-faces.icon-circle
					.col-md-10
						%p.no-margin-bottom.bold-font-name.dark-text-color
							Enrichment
						%p
							Harness your customer's enthusiasm and bring new customers to your store.
			.col-sm-4.text-center-sm
				.row
					.col-md-2
						%i.md.md-shopping-basket.icon-circle
					.col-md-10
						%p.no-margin-bottom.bold-font-name.dark-text-color
							Convert
						%p
							Coopt brings new customers to your store by offering instant rewards to customers
			.col-sm-4.text-center-sm
				.row
					.col-md-2
						%i.fa.fa-facebook.icon-circle{:style=>"padding: 10px 15px;"}
					.col-md-10
						%p.no-margin-bottom.bold-font-name.dark-text-color
							Utilization
						%p
							74% of consumers rely on social networks to guide purchase decisions
%section.home-pricing-sction#section-link-pricing
	.container
		.row
			.col-md-12.text-center
				%h3
					HONEST PRICING. NO SURPRISES. 14 DAY MONEY BACK GUARANTEE 
				.row
					.col-md-3
					.col-md-6
						%p
							If you aren’t satisfied after two weeks, cancel your subscription
							and we will refund any fees incurred during that time.
					.col-md-3
		.row
			.col-md-1
			.col-md-5
				.card.text-center
					%h3.primary-text-color.double-margin-bottom
						Transaction Based
					.pricing-text.margin-bottom
						%span.dollar-sign
							$
						%span.price
							1.50
						%span.transaction-unit
							\/ transaction
					.clearfix
					%p.body-text-color.no-margin-bottom
						Call any time
			.col-md-5
				.card.text-center
					%h3.primary-text-color.double-margin-bottom
						SUBSCRIPTION BASED
					.pricing-text.margin-bottom
						%span.dollar-sign
							$
						%span.price
							29
						%span.transaction-unit
							\/ month
					.clearfix
					%p.body-text-color.no-margin-bottom
						Call any time
			.col-md-1
		.row
			.col-lg-12.text-center.double-margin-top
				%a.btn.btn-info.btn-lg{:href=>"https://app.getcoopt.com/login"}
					GET STARTED WITH COOPT

%section
	.container
		.row
			.col-md-2
			.col-md-8.text-center
				%h3
					DONT TAKE OUR WORD FOR IT
				.divider-default
%section.no-padding-top.home-quote-section
	.container
		.row
			-2.times do
				.col-sm-6
					%blockquote
						%p
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						%footer
							Daniel L
							%br
							%cite
								@FlyPedals
		%hr


%section.no-padding-top
	.container
		.row.double-margin-bottom
			.col-md-2
			.col-md-8.text-center
				%h3
					Get started
				.divider-default
		.row
			.col-sm-6
				.row
					.col-md-2
						%i.md.md-play-download.icon-circle
					.col-md-10
						%p.half-margin-bottom.bold-font-name.dark-text-color
							Installation Process
						%dl.list-get-started
							%dt
								Get Coopt in the 
								%a{:href=>"#"}
									Shopify app store
							%dt
								Choose a plan, Transaction or Subscription
							%dt
								Create a monetary reward
							%dt
								Thats it! Coopt is setup on your shopify store
			.col-sm-6
				.row
					.col-md-2
						%i.md.md-account-circle.icon-circle
					.col-md-10
						%p.half-margin-bottom.bold-font-name.dark-text-color
							Customer Process
						%dl.list-get-started
							%dt
								Reward will be available at checkout
							%dt
								Approve the facebook post
							%dt
								Coopt will verify the endorsement
							%dt
								Your customer will receive a reward
%section.invert-section.no-padding-bottom#section-link-faq
	.container
		.row.margin-top
			.col-md-12.text-center
				%h3
					FREQUENTLY ASKED QUESTIONS 
				.divider-default
		.row.margin-top
			.col-sm-6
				.padded.no-padding-bottom
					%p.half-margin-bottom.bold-font-name
						Q. How does the money back guarantee work?
					%p
						Sign up for one of our plans, if you are not satisfied within 14 days we will refund all charges on your account.
			.col-sm-6
				.padded.no-padding-bottom
					%p.half-margin-bottom.bold-font-name
						Q. What payment types do you accept?
					%p
						We accept payments from MasterCard, Visa, American Express, and Discover.
		.row
			.col-sm-6
				.padded.no-padding-bottom
					%p.half-margin-bottom.bold-font-name
						Q. Can I switch plans later?
					%p
						Absolutely. You can switch between our transaction and subscription plans, or cancel your account altogether, whenever you like. We will adjust any payments accordingly.
			.col-sm-6
				.padded.no-padding-bottom
					%p.half-margin-bottom.bold-font-name
						Q. How does the money back guarantee work?
					%p
						Sign up for one of our plans, if you are not satisfied within 14 days we will refund all charges on your account.
		.row
			.col-sm-6
				.padded.no-padding-bottom
					%p.half-margin-bottom.bold-font-name
						Q. Does Coopt work on other platforms?
					%p
						Currently we are only offering the app on the Shopify App Marketplace, but will be launching on other e-commerce platforms in the future.
			.col-sm-6
				.padded.no-padding-bottom
					%p.half-margin-bottom.bold-font-name
						Soon Coopt will work on the following platforms:
					%ul.list-inline.supported-platforms
						%li
							%img{:src=>"images/footer_logo_mag.png"}
							%br
							Magento
						%li
							%img{:src=>"images/footer_logo_vol.png"}
							%br
							Volusion
						%li
							%img{:src=>"images/footer_logo_big.png"}
							%br
							Big Commerce



