.home-hero-sction{
	@extend .invert-section;
	background:$primary-color url("../../images/main_banner.png") no-repeat scroll center top;
	background-size:cover;
	.btn{
		border:1px solid white;
	}
}

.home-pricing-sction{
	@extend .invert-section;
	background:$primary-color url("../../images/macbook_banner.png") no-repeat scroll center top;
	background-size:cover;
}

.home-quote-section{


			blockquote{
				margin-bottom:$baseline*2;
			}


}